@model CodeChallenge.Models.AsciiForm
@{
    ViewBag.Title = "Ascii Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .processing-result {
        display: none;
    }
</style>

<h2>Ascii Map Form</h2>

<ol>
    <li>Choose .txt file with ascii map</li>
    <li>Click on "Submit" button</li>
    <li>Wait for result</li>
</ol>

<form id="ascii-form">
    <label for="AsciiMap">Txt file: </label>
    <input type="file" name="AsciiMap" id="txtFile" />
    <br />
    <br />
    <input type="submit" id="submitMap" value="Submit" />
</form>

<span class="validation-error"></span>

<div class="processing-result">
    <h2>Results</h2>
    <h3>Letters: <span id="letters"></span></h3>
    <h3>Path as characters: <span id="path"></span></h3>
</div>